:host{
    color:black;
    font-size: 1em;
}

:host[white]{
    color:white;
}

:host[gray]{
    color:gray;
}

:host[small]{
    font-size: .7em;
}

:host[title]{
    font-size: 1.5em;
}